
extends layout

block topContent
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/CSS/new_profile.css')


  .mainForm
    .user-profile
      label.user-icon
        i.fa-solid.fa-user
      .profile-items
        h1= variable1
        p= variable3
        h2= variable4
        table
          tr
            th Time
            th Day
            th Coacher Name
            th Training Name
          each training in variable5
            tr
              td #{training.time}
              td #{training.day}
              td #{training.coacherName}
              td #{training.trainingName}

      .button-container
        button.button(href='/Review') Review Class
        button.button(href='/Contact') Update Profile
        button.button(href='/Contact') Cancel Membership
block content
