extends layout

block topContent
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/CSS/new_profile.css')
  .mainForm
    .user-profile
      label.user-icon
        i.fa-solid.fa-user
      .profile-items
        h1 #{variable1}
        br
        label #{variable2}
        br
        label #{variable3}
        br
        label #{variable4}
        br
        label #{variable5}
      br
      br
      br
      label.user-icon
        i.fa-solid.fa-medal
      .lesson-list
        h4 Your Upcoming Lessons
        br
        label #{variable5}
      .button-container
        button.button(href='/Review') Review Class
        button.button(href='/Contact') Update Profile
        button.button(href='/Contact') Cancel Membership
block content
